body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

h1 {
    font-family: 'MonumentExtended';
    font-style: bold;
    font-size: 96px;
    letter-spacing: .2rem;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #FFB81C;
    margin: 0px;
    padding: 0px;
}

h2 {
    font-family: 'MonumentExtended';
    font-style: normal;
    font-size: 128px;
    letter-spacing: .2rem;
    color:#FFB81C;
    margin-top: -40px;
    padding: 0px;
}

p {
    font-family: 'Inter-SemiBold';
    color:white;

}

@font-face {
    font-family: 'MonumentExtended';
    font-style: normal;
    font-weight: normal;
    src: url(../fonts/MonumentExtended-Regular.otf) format('opentype');
  } 
  
@font-face {
    font-family: 'MonumentExtended';
    font-style: bold;
    font-weight: normal;
    src: url(../fonts/MonumentExtended-Ultrabold.otf) format('opentype');
}

@font-face {
    font-family: 'Inter-SemiBold';
    font-style: normal;
    font-weight: normal;
    src: url(../fonts/Inter-SemiBold.ttf) format('truetype');
}