html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

.wrap-home {
  display: inline-block;
}

.wrap-about {
  margin: 27px;
  padding-top: 27px;
}

.wrap-team {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.base {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-top: 13rem;
}

h1 {
  font-family: 'MonumentExtended' !important;
  font-style: bold;
  font-size: 3rem !important;
  text-align: left;
  letter-spacing: .2rem;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: black;
  color: transparent;
  margin-bottom: -20px !important; 
}

h2 {
  font-family: 'MonumentExtended' !important;
  font-style: normal;
  font-size: 4.5rem !important;
  text-align: left;
  letter-spacing: .2rem;
  color:black;
  padding: 0px;

}

@font-face {
  font-family: 'MonumentExtended';
  font-style: normal;
  font-weight: normal;
  src: url(./fonts/MonumentExtended-Regular.otf) format('opentype');
} 

@font-face {
  font-family: 'MonumentExtended';
  font-style: bold;
  font-weight: normal;
  src: url(./fonts/MonumentExtended-Ultrabold.otf) format('opentype');
}
